* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    overflow-x: hidden;
}

.continer {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}


/* start haeder */

.header .continer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .continer .links ul {
    display: flex;
    list-style-type: none;
}

.header .continer .links ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding-left: 20px;
    transition: 0.2s;
}

.header .continer .links ul li:hover a {
    color: red;
}

.header .continer a.logo img {
    width: 100px;
}

@media (max-width:767px) {
    .header .continer .links {
        position: relative;
    }
    .header .continer .links .icon {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        width: 30px;
    }
    .header .continer .links .icon span {
        background-color: black;
        width: 100px;
        height: 3px;
        margin-bottom: 5px;
    }
    .header .continer .links .icon span:first-child {
        width: 100%;
    }
    .header .continer .links .icon span:nth-child(2) {
        width: 50%;
        transition: 0.2s;
    }
    .header .continer .links .icon:hover span:nth-child(2) {
        width: 100%;
    }
    .header .continer .links .icon span:last-child {
        width: 100%;
    }
    .header .continer .links ul {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        position: absolute;
        right: 0px;
        background-color: #ccc;
        min-width: 200px;
        top: 30px;
        display: none;
        z-index: 2;
    }
    .header .continer .links ul::after {
        content: "";
        position: absolute;
        border-width: 11px;
        border-style: solid;
        border-color: transparent transparent black transparent;
        top: -20px;
        right: 0px;
    }
    .header .continer .links li a {
        text-decoration: none;
        display: block;
        color: black;
        font-weight: bold;
        padding: 5px;
        transition: 0.3s;
        margin: 10px;
    }
    .header .continer .links li:hover a {
        padding-left: 25px;
    }
    .header .continer .links li:not(:last-child):hover a {
        border-bottom: solid 2px black;
    }
    .header .continer .links .icons:hover,
    .header .continer .links:hover ul {
        display: block;
    }
}


/* end haeder */


/* start photo */

.photo {
    background-image: url(photo/landing\(1\).jpg);
    background-size: cover;
    height: 100vh;
    position: relative;
}

.photo .continer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 2;
}

.photo .continer h2 {
    color: #10cab7;
    font-size: 40px;
}

.photo .continer p {
    font-weight: bold;
    color: black;
}

@media (max-width:767px) {
    .photo .continer {
        width: 100%;
    }
}


/* end photo */


/* start futer */

.futer {
    margin-top: 0px;
    background-color: #ccc;
    padding: 40px;
}

.futer .continer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    text-align: center;
    line-height: 2;
}

.futer .continer .box i {
    font-size: 30px;
}

.futer .continer .box p {
    color: #777;
}

@media (max-width:767px) {
    .futer .continer {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 30px;
        text-align: center;
        line-height: 2;
    }
    .futer .continer .box {
        margin: 10px auto;
    }
}


/* end futer */


/* strat service */

.service .continer {
    text-align: center;
    margin-top: 30px;
}

.main {
    color: #ebeced;
    font-size: 50px;
    letter-spacing: 10px;
}

.main+p {
    color: black;
    font-weight: bold;
    margin-top: -5px;
}

.service .continer .main {
    color: #ebeced;
    font-size: 50px;
    letter-spacing: 10px;
}

.service .continer .main+p {
    color: black;
    font-weight: bold;
    margin-top: -5px;
}

.service .content {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 90px;
    text-align: center;
    margin-left: 10px;
}

.service .content .col .box p {
    line-height: 2;
    color: black;
    font-weight: bold;
}

.service .content .col .box h2 i {
    margin-right: 5px;
    font-size: 25px;
}

.service .content .col .box {
    margin: 30px;
}

.service .content .col .image img {
    width: 240px;
}

.service .content .col .image {
    position: relative;
}

.service .content .col .image img {
    position: relative;
    right: 100px;
}

.service .content .col .image::after {
    content: "";
    position: absolute;
    width: 200px;
    height: 350px;
    top: -20px;
    left: 100px;
    background-color: #2c4755;
    z-index: -1;
}

@media (max-width:576px) {
    .service .content .col .image {
        display: none;
    }
    .service .content {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 50px;
        text-align: center;
        margin: 10px;
    }
    .service .content .col .box p {
        width: 100%;
    }
    .service .continer h2 {
        font-size: 25px;
    }
}

@media (min-width:576px) and (max-width:767px) {
    .service .content .col .image {
        display: none;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .service .content .col .image {
        display: none;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .service .content .col .image {
        display: none;
    }
    .service .continer h2.main {
        font-size: 30px;
    }
}


/* end service */


/* start portfilo */

.portfilo {
    margin-top: 50px;
    background-color: #ccc;
    padding: 40px;
}

.portfilo .continer {
    text-align: center;
}

.portfilo .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 90px;
    margin: 20px;
}

.portfilo .content .box img {
    width: 100%;
}

.portfilo .content .box {
    background-color: white;
}

.portfilo .content .box .text {
    padding: 30px;
    line-height: 2;
}

.portfilo .content .box .text a {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 20px;
    display: block;
    width: fit-content;
    margin-top: 10px;
    border-radius: 15px;
    transition: 0.2s;
}

.portfilo .content .box .text a:hover {
    background-color: red;
}

.portfilo .content .box .text a i {
    margin-left: 5px;
}

@media (max-width:767px) {
    .portfilo .content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 90px;
        margin: 0px;
    }
    .portfilo .continer {
        margin-bottom: 20px
    }
    .portfilo .continer h2 {
        font-size: 30px;
        padding-bottom: 5px;
    }
}


/* end portfilo */


/* start about */

.about {
    margin-top: 50px;
    padding: 40px;
}

.about .continer {
    text-align: center;
}

.about .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about .content .image img {
    width: 90%;
}

.about .content .text p:first-child {
    line-height: 2;
    font-weight: bold;
    color: black;
}

.about .content .text hr {
    border: solid 2px #10cab7;
    width: 60%;
    margin: 20px auto;
}

.about .content .text p:last-child {
    line-height: 2;
    color: #777;
}

.about .content .image {
    position: relative;
}

.about .content .image::before {
    content: "";
    position: absolute;
    width: 180px;
    height: 450px;
    z-index: -1;
    left: -20px;
    top: -10px;
    background-color: red;
}

.about .content .image::after {
    content: "";
    position: absolute;
    width: 200px;
    height: 450px;
    z-index: -1;
    right: 20px;
    top: -10px;
    background-color: #2c4755;
}

@media (max-width:767px) {
    .about .content .image::before,
    .about .content .image::after {
        display: none;
    }
    .about .content {
        flex-wrap: wrap;
        flex-direction: row;
    }
    .about .content .text hr {
        border: solid 2px #10cab7;
        width: 70%;
        margin: 20px auto;
    }
    .about .content .text p:first-child {
        line-height: 2;
        font-weight: bold;
        color: black;
        width: 100%;
    }
    .about .content .image {
        margin: 20px auto;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .about .content .image::before {
        content: "";
        position: absolute;
        width: 110px;
        height: 350px;
        z-index: -1;
        left: -20px;
        top: -10px;
        background-color: red;
    }
    .about .content .image::after {
        content: "";
        position: absolute;
        width: 110px;
        height: 350px;
        z-index: -1;
        right: 20px;
        top: -10px;
        background-color: #2c4755;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .about .content .image::before {
        content: "";
        position: absolute;
        width: 150px;
        height: 440px;
        z-index: -1;
        left: -20px;
        top: -10px;
        background-color: red;
    }
    .about .content .image::after {
        content: "";
        position: absolute;
        width: 150px;
        height: 440px;
        z-index: -1;
        right: 20px;
        top: -10px;
        background-color: #2c4755;
    }
}


/* end about */


/* start contact */

.contact {
    margin-top: 50px;
    padding: 40px;
    background-color: #ccc;
}

.contact .continer {
    text-align: center;
}

.contact .content {
    text-align: center;
    line-height: 2;
    margin-top: 40px;
}

.contact .content h3 {
    color: #10cab7;
    font-size: 30px;
}

.contact .content h5 {
    font-size: 20px
}

.contact .content i {
    font-size: 30px;
    margin-left: 5px;
}


/* end contact */


/* start footer */

.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    line-height: 2;
    font-style: italic;
}

@media (max-width:767px) {
    .contact .content h3 {
        color: #10cab7;
        font-size: 20px;
    }
    .contact .continer h2 {
        font-size: 40px;
    }
}


/* end footer */

@media (min-width:1400px) {
    .header .continer .links ul {
        transform: translateX(-40%);
    }
    .futer .continer {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        gap: 30px;
        margin: 40px;
        text-align: center;
        line-height: 2;
    }
    .about .content .text p {
        width: 93%;
    }
    .portfilo .content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        gap: 50px;
        margin: 80px;
    }
}